@use '../utils/variables' as color;
@use '../utils/mixins';

.confirmDelete{
   .btnFormDelete{
        cursor: pointer;
        display: block;
        padding: .7em 1em;
        background-color: color.$color-red;
        color: color.$color-light;
        font-style: italic;
        font-size: .9em;
        font-weight: bold;
        border-radius: 5px;
        border: none;
        margin: 5% auto;
        width: 50%;
    }
    @include mixins.tablet-only{
        display: flex;
        justify-content: center;
        .btnFormDelete{
            font-size: 1em;
            width: 20%;
        }
    }
}