@use '../utils/variables' as color;


.main__content-mentions{
    border-top: 1px solid color.$color-light;
    background-color: initial;
    padding-top: 2%;
    padding-left: 2%;


    h1{
       
        text-align: center;
    }
    h2{
        text-align: center;
        color: color.$color-red;
        margin-top: 5%;
    }
    a{
        color: color.$color-red;
    }
    p{
       
    }
    article {
        width: 90%;
    }

}
