// Variables color

$color-gradient:linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(66,0,0,1) 100%);
$color-sousMenu: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(19,0,0,1) 100%);
$color-secondary :#131010;
$color-primary :rgb(26, 25, 25);
$color-light: #e9e9e9;
$color-red: #850202;
$color-hover: #c7c27a;
$color-tertiary:#131010;
$duration: .5s;